.Row1{
    background-color: grey;
    padding-top: 10px;
  
}
.Col1{
    background-color: grey;
    padding-top: 10px;
}

.Col2{
    background-color: silver;
    padding: 10px;
   
    border-radius: 10px;


}