
body{
    background-color: silver;

}
.Row1{
    background-color: silver;
    padding-top: 10px;
  
}
.Col1{
    background-color: silver;
    margin-left: 5px;
}

.Col2{
 
    padding: 10px;
   
    border-radius: 10px;


}

#gastos{
    background-color: silver;
}

.nome{
    text-align: center;
    font-size: 15px
}
.blocoFoto{
    margin-left: 50px;
    padding: 400px
}

.partido{
    border-radius: 50px;
    border: 1px solid black;
    padding: 1px 0px 10px 0px;
    margin-top: 10px;
    background-color: grey;
    text-align: center;
    color: black
}
#orgaos{
    text-align: center

}

#frentes{
    text-align: center
}

#eventos{
    text-align: center
}



